@import "bower_components/neat/app/assets/stylesheets/neat-helpers";

// Adding a Visual Grid while you develop. Set to 'true.'
$visual-grid: true;
$visual-grid-color: #ccc;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width:1140px;

$mobile: new-breakpoint(min-width 320px 4);
$tablet: new-breakpoint(min-width 480px 8);
$desktop: new-breakpoint(min-width 920px 12);
